*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

.titulo{
    font-family:'Righteous', cursive;
    font-size:26px;
    color: #333333;
    line-height: 32px;
}

.menu-superior{
    width:100%;
    height: 92px;
    background-color: #CF2B2B;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    color: white;
    font-size: 44px;
    line-height: 56px;
    padding: 8px 0px 0px 21px;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
}

h2{
    margin-left: 19px; 
    margin-bottom: 10px;
}
.menu-inferior{
    background-color: white;
    height: 92px;
    width: 100%;
    position: fixed;
    bottom:0;
    right:0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meio{
    margin-top:96px;
    margin-bottom: 108px;
}

.container-pratos{
 
    padding-top: 27px;
    width:100%;
    overflow: auto;
}

.menu-pratos-principais, .menu-bebidas, .menu-sobremesas{
    margin-left: 3px;
    display: flex;
    width: 100%;
    
}

.prato{
    background-color: white;
    width:172px;
    
    margin-left: 16px;
    padding: 18px 14px 0px 14px;
    border-radius: 9px;
}

h3{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-top: 8px;
    margin-bottom: 4px;
}

h4{
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
    margin-bottom: 5px;
}

h5, h6{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 13px;
}

.prato-img{
    width: 144px;
    height:87px;
}

button{
    width:364px;
    height: 61px;
    border-radius: 50px;
    background-color: #CBCBCB;
    border: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    padding:   0px 70px 0px 70px;
    color: white;
}

.prato div{
    display: flex;
}

.check{
    border: 5px solid #32B72F;
    background: url("../imagens/vcheck.svg") no-repeat;
    background-size: 20px;
    background-position-y: 95%;
    background-position-x: 95%;
    background-color: white;
    padding: 13px 9px 0px 9px;
    
}

.finalizar{
    background-color: #32B72F;
    z-index: 1;
    position: fixed;
}

.escondido{
    display: none;
}

.confirmacao{
    background-color: #50D074;
    width: 340px;
    height: 353px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius:8px;
    padding: 10px 23px 0 23px;
    z-index: 2;
}

.confirmacao h3{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 27px;
    margin-bottom: 15px;
}

.confirmacao h5{
    color: white;
    line-height: 27px;
}

.confirmacao div{
    display:flex;
    justify-content: space-between;
}

.pode-pedir{
    background-color: white;
    border-radius: 100px;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:11px;
    margin-bottom:15px;
    
}

.pode-pedir h3{
    color:#50D074;
}

.blur{
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity:0.85;
}

.cancela{
    cursor: pointer;
}